
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb"> 
			<li class="breadcrumb-item"><a href="admin-dashboard">Home</a></li> 
			<li class="breadcrumb-item active" aria-current="page">View Notification</li>
		</ul>
	</div>
</div>

<style type="text/css">
table th  {
	cursor: pointer;
}

</style>


<section class="dashboard-counts section-padding bg-white pt-2  bg-white mb-3 "  ng-if="notification.key">

	<div class="container-fluid"> 
		<div class="row"> 
			<div class="col-12">
				

				<h5 class=" text-capitalize py-3"><span class="text-primary pr-2 h3 string" style="font-size: 1.4rem;" >[ {{notification.type}} ]   </span>{{notification.subject}}</h5>
				<div class="py-2"> 
					<span > {{notification.description}}</span>

					<p  class="pt-4 float-left text-right w-100"> {{notification.date | timeago }}</p>

				</div>


			</div>

		</div>
	</div>
</section>


<section class="dashboard-counts  mt-5 bg-white p-3 ">
	<h3 class="text-info text-capitalize">Active Notifications</h3>
</section>
<!-- Statistics Section-->

<section class="dashboard-counts section-padding bg-white pt-2">
	<div class="container-fluid">



		<div class="row"> 
			<div class="col-md-6 col-sm-12">
				

				<form class="form-inline float-left text-left">
					<div class=" d-flex align-items-end border-bottom mx-1" ng-init="departmentFiler = '0'; ">  					 
						
						<i class="ti ti-filter p-2 flex-shrink-1"></i>
						<select  name="base" class="form-control pl-2 border-0 no-shadow"   placeholder="select "  ng-model="dateFiter"  ng-change="showDateOnly(dateFiter)" >
							<option selected="selected" ng-selected="true" value="0" >All</option>
							<option ng-repeat="notifications in notificationsBase | unique:'date' " value="{{notifications.date}}"  >{{notifications.date}}</option>
						</select>

					</div>
				</form>
			</div>	

			<div class="col-md-6 col-sm-12">
				
				<form class="form-inline float-right text-right">
					<div class="form-group">
						<label >Search</label>
						<input type="text" ng-model="search" class="form-control" placeholder="Search">
					</div>
				</form>
			</div>

			<div class="col-12">
				

				<table datatable="ng" class="table table-hover">
					<thead>
						<tr> 


							<th ng-click="$parent.sort('index')"> # 	<i class=" sort-icon" ng-show="sortKey=='index'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  

							<th ng-click="$parent.sort('type')"> type 
								<i class=" sort-icon" ng-show="sortKey=='type'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  
								<th ng-click="$parent.sort('subject')"> Subject 
									<i class=" sort-icon" ng-show="sortKey=='subject'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  
									<th ng-click="$parent.sort('expiry')"> Expiry 
										<i class=" sort-icon" ng-show="sortKey=='expiry'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  
										<th ng-click="$parent.sort('to')"> to 
											<i class=" sort-icon" ng-show="sortKey=='to'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  

											<th ng-click="$parent.sort('description')"> description 
												<i class=" sort-icon" ng-show="sortKey=='description'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  


											</tr>
										</thead>
										<tbody>

											<tr  

											dir-paginate="notification in notifications|orderBy:sortKey:reverse|filter:search|itemsPerPage:5"

											> 
											<td> {{notification.index}}</td>


											<td> {{notification.type}}</td>
											<td> {{notification.subject}}</td>
											<td> {{notification.expiry}}</td>
											<td> 
												<div>
													<p ng-repeat="value in notification.to track by $index">{{value}}</p>
												</div>
											</td>
											<td> {{notification.description}}</td>  


										</tr>

									</tbody>
								</table>


							</div>


							<dir-pagination-controls
							max-size="5"
							direction-links="true"
							boundary-links="true" 
							style="padding: 10px;"
							>
						</dir-pagination-controls>










					</div> 
				</div>
			</div>
		</section> 