<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb"> 
			<li class="breadcrumb-item"><a href="admin-dashboard">Home</a></li> 
			<li class="breadcrumb-item active" aria-current="page">confirm New Users</li>
		</ul>
	</div>
</div>

<style type="text/css">
table th  {
	cursor: pointer;
}

</style>

<section class="dashboard-counts  p-3 ">
	<h3 class="text-primary text-capitalize">confirm New Users</h3>
</section>
<!-- Statistics Section-->

<section class="dashboard-counts section-padding pt-2">
	<div class="container-fluid">
		<div class="row"> 
			<div class="col-12">
				
				<form class="form-inline float-right text-right">
					<div class="form-group">
						<label >Search</label>
						<input type="text" ng-model="search" class="form-control" placeholder="Search">
					</div>
				</form>

				<table datatable="ng" class="table table-hover">
					<thead>
						<tr> 


							<th ng-click="$parent.sort('index')"> # 	<i class=" sort-icon" ng-show="sortKey=='index'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  

							<th ng-click="$parent.sort('name')"> name 
								<i class=" sort-icon" ng-show="sortKey=='name'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  
								
								<th ng-click="$parent.sort('reg_no')"> ID 
									<i class=" sort-icon" ng-show="sortKey=='reg_no'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  

									<th ng-click="$parent.sort('email')"> email 
										<i class=" sort-icon" ng-show="sortKey=='email'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  


										<th ng-click="$parent.sort('mobile')"> mobile 
											<i class=" sort-icon" ng-show="sortKey=='mobile'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  


											<th ng-click="$parent.sort('type')"> type 
												<i class=" sort-icon" ng-show="sortKey=='type'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i></th>  

												<th ng-click="$parent.sort('time')"> time <i class=" sort-icon" ng-show="sortKey=='time'" ng-class="{'ti-angle-up':reverse,'ti-angle-down':!reverse}"></i> </th>
												<th  > action </th>

											</tr>
										</thead>
										<tbody>

											<tr  

											dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:5"

											> 
											<td> {{user.index}}</td>


											<td> {{user.name}}</td>
											<td> {{user.reg_no}}</td>
											<td> {{user.email}}</td>
											<td> {{user.mobile}}</td>
											<td> {{user.type}}</td>
											<td title="{{user.time}}"> {{user.time | timeago }}</td> 

											<td><button class="btn btn-sm btn-info " ng-click="activeMe (user )" title="view more ">ACTIVE</button></td>

										</tr>

									</tbody>
								</table>


							</div>


							<dir-pagination-controls
							max-size="5"
							direction-links="true"
							boundary-links="true" 
							style="padding: 10px;"
							>
						</dir-pagination-controls>










					</div> 
				</div>
			</div>
		</section> 