
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb"> 
			<li class="breadcrumb-item"><a href="admin-dashboard">Home</a></li> 
			<li class="breadcrumb-item"><a href="admin-user-existing">Users</a></li> 
			<li class="breadcrumb-item active" aria-current="page">{{user.type}} Profile</li>
		</ul>
	</div>
</div>


<section class="w-100 d-block">
	<h1 class="  p-2 my-1 text-capitalize ">
		{{user.type}}
		<small>View Details</small>
	</h1>

</section>

<style type="text/css">
.image_base_n {
	position: relative;
}
.nowUpdateImgClick {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;	
	padding: 50px;
	vertical-align: text-top;	
	display:none;
}
.nowUpdateImgClick i {
	font-size: 50px;
	cursor: pointer;
	padding: 10%;
	background: #0000001a;
	border-radius: 50%;
}

.image_base_n>img:hover {
	opacity:0.7;
}


.image_base_n>img:hover +span{ 
	display: block;
}

.image_base_n>span:hover { 
	display: block;
}
.image_base_n i:hover -span{ 	
	background: red; 
	animation-name: none;
}





</style>


<section class="dashboard-counts section-padding px-3">
	<div class="row">
		<div class="col-xl-4 col-lg-5">

			<!-- Profile Image -->
			<div class="card">
				<div class="card-body card-user">
					<div class="image_base_n p-3">
						<img class="user-user-img rounded-circle img-fluid mx-auto d-block"
						ng-src src="{{user.image}}"  alt="User user picture"> 
					</div>
					<h2 class="user-username text-center  text-capitalize mt-3">{{user.name}}</h2>

					<p class="text-muted text-center text-capitalize">{{user.type}} </p>

					<div class="row social-states"> 
					</div>

					<div class="row">
						<div class="col-12">
							<div class="user-user-info">
								<div class="row  mb-3" ng-if="user.email">
									<div class="col-md-4 col-sm-12 text-left">
										<p>Email address </p>
									</div>
									<div class="col-md-8 col-sm-12 text-left">
										<h6 class=" ">{{user.email}}</h6>
									</div>
								</div>

								<div class="row  mb-3"  ng-if="user.mobile">
									<div class="col-md-4 col-sm-12 text-left">
										<p>Phone </p>
									</div>
									<div class="col-md-8 col-sm-12 text-left">
										<h6 class=" ">+91 {{user.mobile}}</h6> 
									</div>
								</div>

								<div class="row  mb-3" ng-if="user.address">
									<div class="col-md-4 col-sm-12 text-left">
										<p>Address </p>
									</div>
									<div class="col-md-8 col-sm-12 text-left">
										<h6 class="">{{user.address}}</h6>
									</div>
								</div>
								<div class="row  mb-3" ng-if="user.delete">
									<div class="col-md-4 col-sm-12 text-left">
										<p>status </p>
									</div>
									<div class="col-md-8 col-sm-12 text-left">
										<h6 class="text-danger">DELETED</h6>
									</div>
								</div>

								<div class="map-card">

								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
		<div class="col-xl-8 col-lg-7">

			<div class="card">
				<div class="card-head">

				</div>	
				<div class="card-body">
					<form name="adminProfile"  class="form-horizontal form-element col-12"   ng-if="user.type == 'doctor' ">



						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Name</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.name}}</p>  
							</div>
						</div>


						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Email</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.email}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Mobile</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.mobile}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Registration ID</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.reg}}</p>  
							</div>
						</div>


						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Gender</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.gender}}</p>  
							</div>
						</div>
						
						
						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">District</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.district}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Address</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.address}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Hospital</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.hospital}}</p>  
							</div>
						</div>
						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Hospital Type</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.hospital_type}}</p>  
							</div>
						</div>


					</form>
					<form name="adminProfile"  class="form-horizontal form-element col-12"   ng-if="user.type == 'hospital' ">







						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Name</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.name}}</p>  
							</div>
						</div>


						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Email</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.email}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Mobile</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.mobile}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">Registration ID</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.reg}}</p>  
							</div>
						</div>

						



						













						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">nodal person name</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.nname}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">nodal person mobile</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.nmobile}}  </p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">bed</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.bed}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">type</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.htype}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">area</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.area}}</p>  
							</div>
						</div>

						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">city</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.city}}</p>  
							</div>
						</div>


						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">district</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.district}}</p>  
							</div>
						</div>


						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">pin</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.pin}}</p>  
							</div>
						</div>


						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">longitude</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.longitude}}</p>  
							</div>
						</div>


						<div class="form-group  row"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">latitude</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.latitude}}</p>  
							</div>
						</div>


						<div class="form-group  row d-none"  >
							<label for="inputName" class="col-sm-2 control-label text-capitalize">delete</label> 
							<div class="col-sm-10" >
								<p  class="form-control"  >{{user.delete}}</p>  
							</div>
						</div>


					</form>

				</div>
			</div>


		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

</section>
